@charset "UTF-8";

.shadow {
border-bottom: 0;
-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);

transition: all 0.5s ease-out;
}
#icahd-bootstrap-menu, .navbar-fixed-top
{
transition: all 0.2s ease-out;
}

.donate-top a {
	
	font-weight: bold!important;
	   
}



.donate-top a:hover {
text-decoration: none;
color: #ccc	
}

@media  (min-width: 980px) {
.donate-top a {
	

	    padding: 12px 20px 0 0!important
}
}

